<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/service-dashboard.css">
    <link rel="stylesheet" href="../css/employee.css">
    {{!--
    <link rel="stylesheet" href="../css/booking.css"> --}}
    {{!--
    <link rel="stylesheet" href="../css/customer.css"> --}}
    <link rel="stylesheet" href="../css/mainstaff.css">
    <link rel="stylesheet" href="../font/css/all.min.css">
    <link rel="stylesheet" href="../css/dashboard-main.css">

</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            <a href="dashboard-manager?idStore={{idstore}}">
                <svg id="home" viewBox="0 0 512 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    class="active">
                    <path
                        d="M197.3 170.7h-160A37.4 37.4 0 010 133.3v-96A37.4 37.4 0 0137.3 0h160a37.4 37.4 0 0137.4 37.3v96a37.4 37.4 0 01-37.4 37.4zM37.3 32c-3 0-5.3 2.4-5.3 5.3v96c0 3 2.4 5.4 5.3 5.4h160c3 0 5.4-2.4 5.4-5.4v-96c0-3-2.4-5.3-5.4-5.3zm0 0M197.3 512h-160A37.4 37.4 0 010 474.7v-224a37.4 37.4 0 0137.3-37.4h160a37.4 37.4 0 0137.4 37.4v224a37.4 37.4 0 01-37.4 37.3zm-160-266.7c-3 0-5.3 2.4-5.3 5.4v224c0 3 2.4 5.3 5.3 5.3h160c3 0 5.4-2.4 5.4-5.3v-224c0-3-2.4-5.4-5.4-5.4zm0 0M474.7 512h-160a37.4 37.4 0 01-37.4-37.3v-96a37.4 37.4 0 0137.4-37.4h160a37.4 37.4 0 0137.3 37.4v96a37.4 37.4 0 01-37.3 37.3zm-160-138.7c-3 0-5.4 2.4-5.4 5.4v96c0 3 2.4 5.3 5.4 5.3h160c3 0 5.3-2.4 5.3-5.3v-96c0-3-2.4-5.4-5.3-5.4zm0 0M474.7 298.7h-160a37.4 37.4 0 01-37.4-37.4v-224A37.4 37.4 0 01314.7 0h160A37.4 37.4 0 01512 37.3v224a37.4 37.4 0 01-37.3 37.4zM314.7 32c-3 0-5.4 2.4-5.4 5.3v224c0 3 2.4 5.4 5.4 5.4h160c3 0 5.3-2.4 5.3-5.4v-224c0-3-2.4-5.3-5.3-5.3zm0 0" />
                </svg>
            </a>
            <span>Điều Khiển</span>
            <a href="service?idStore={{idstore}}">
                <svg id=" service" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5" />
                </svg>
            </a>
            <span>Dịch Vụ</span>
            <a href="employee?idStore={{idstore}}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    v-bind:svg-inline="''" v-bind:role="'presentation'" v-bind:focusable="'false'"
                    v-bind:tabindex="'-1'">
                    <path class="customize-fill" fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.401 6.022A3.312 3.312 0 006.71 9.331a3.312 3.312 0 003.31-3.309 3.312 3.312 0 00-3.31-3.308A3.311 3.311 0 003.4 6.022zm3.305-1.441c-.794 0-1.44.647-1.44 1.441s.646 1.441 1.44 1.441c.794 0 1.442-.647 1.442-1.44 0-.795-.648-1.442-1.442-1.442zM23.04 18.507a.96.96 0 010 1.922H.96a.962.962 0 010-1.922H17.86l3.177-7.264a.252.252 0 00-.017-.247.245.245 0 00-.21-.116h-8.337c-.101 0-.191.058-.231.149l-2.735 6.135-.135.088H5.883a.961.961 0 110-1.921H8.22l.876-1.968a3.731 3.731 0 00-2.509-.988c-2.079 0-3.772 1.713-3.772 3.816a.93.93 0 01-.925.934.93.93 0 01-.926-.934c0-3.134 2.522-5.683 5.623-5.683 1.18 0 2.319.378 3.293 1.094l.605-1.354a2.175 2.175 0 011.988-1.29h8.336c.738 0 1.42.37 1.824.99.403.622.463 1.396.161 2.07l-2.835 6.49h3.082z"
                        fill="#005AEE"></path>
                </svg>
            </a>
            <span>Nhân Viên</span>
            <a href="booking?idStore={{idstore}}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    v-bind:svg-inline="''" v-bind:role="'presentation'" v-bind:focusable="'false'"
                    v-bind:tabindex="'-1'">
                    <path class="customize-fill"
                        d="M17.6 4.32h-.933v-.96c0-.576-.374-.96-.934-.96s-.933.384-.933.96v.96H9.2v-.96c0-.576-.373-.96-.933-.96s-.934.384-.934.96v.96H6.4c-1.587 0-2.8 1.248-2.8 2.88v11.52c0 1.632 1.213 2.88 2.8 2.88h11.2c1.587 0 2.8-1.248 2.8-2.88V7.2c0-1.632-1.213-2.88-2.8-2.88zm.933 5.184V18.72c0 .576-.373.96-.933.96H6.4c-.56 0-.933-.384-.933-.96V7.2c0-.576.373-.96.933-.96h.933v.96c0 .576.374.96.934.96s.933-.384.933-.96v-.96h5.6v.96c0 .576.373.96.933.96s.934-.384.934-.96v-.96h.933c.56 0 .933.384.933.96v2.304z"
                        fill="#005AEE"></path>
                </svg>
            </a>
            <span>Lịch Hẹn</span>
            <a href="customer?idStore={{idstore}}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    v-bind:svg-inline="''" v-bind:role="'presentation'" v-bind:focusable="'false'"
                    v-bind:tabindex="'-1'">
                    <path class="customize-fill"
                        d="M9.002 11a4 4 0 100-8 4 4 0 000 8zm0-6a2 2 0 110 4 2 2 0 010-4zM17.002 13a3 3 0 100-6 3 3 0 000 6zm0-4a1 1 0 110 2 1 1 0 010-2zM17.002 14a5 5 0 00-3.06 1.05A7 7 0 002.002 20a1 1 0 102 0 5 5 0 1110 0 1 1 0 102 0 6.9 6.9 0 00-.86-3.35 3 3 0 014.86 2.35 1 1 0 102 0 5 5 0 00-5-5z"
                        fill="#005AEE"></path>
                </svg>
            </a>
            <span>Khách Hàng</span>
            <a href="">
                <svg viewBox="0 0 512 512" fill="currentColor">
                    <path
                        d="M255.2 468.6H63.8a21.3 21.3 0 01-21.3-21.2V64.6c0-11.7 9.6-21.2 21.3-21.2h191.4a21.2 21.2 0 100-42.5H63.8A63.9 63.9 0 000 64.6v382.8A63.9 63.9 0 0063.8 511H255a21.2 21.2 0 100-42.5z" />
                    <path
                        d="M505.7 240.9L376.4 113.3a21.3 21.3 0 10-29.9 30.3l92.4 91.1H191.4a21.2 21.2 0 100 42.6h247.5l-92.4 91.1a21.3 21.3 0 1029.9 30.3l129.3-127.6a21.3 21.3 0 000-30.2z" />
                </svg>
            </a>
            <span>Đăng Xuất</span>
        </div>
        <div class="main-container pt-2"
            style="display: block;background-color: #f4f6fa;min-height: 100vh;width: 100%;">
            <div class="main-header is-main-navigation-bar-expanded">
                <div class="main-header__account el-dropdown">
                    <div class="main-header__account__slot el-dropdown-selfdefine">
                        <div class="adm-avatar size-36 mr-0 ml-0"
                            style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);">
                        </div>
                        <div class="main-header__account__slot__name tablet-hidden">
                            Nguyễn Văn Tình
                        </div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            svg-inline="" role="presentation" focusable="false" tabindex="-1"
                            class="main-header__account__slot__arrow tablet-hidden">
                            <path
                                d="M12 15a.75.75 0 01-.48-.172l-4.5-3.75a.75.75 0 11.96-1.155l4.02 3.36 4.02-3.24a.75.75 0 011.058.112.75.75 0 01-.105 1.095l-4.5 3.623A.75.75 0 0112 15z"
                                fill="#005AEE" class="customize-fill"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="adm-dashboard__container__wrapper">
                <div class="dashboard-page">
                    <div class="dashboard-header-stats">
                        <div class="dashboard-line-chart" style="padding-bottom: 0;">
                            <div class="dashboard-line-chart__header">
                                <div style="font-size: 16px;">Khách Hàng Mới</div>
                                <div class="dashboard-line-chart__header__right">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            <span class="customer-time_text">Tuần hiện tại</span>

                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_customer-chart_time selected">
                                                <span>Tuần hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_customer-chart_time">
                                                <span>Tuần trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_customer-chart_time">
                                                <span>Tháng hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_customer-chart_time">
                                                <span>Ba tháng trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_customer-chart_time">
                                                <span>Sáu tháng trước</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="dashboard-line-chart__container">
                                <div class="dashboard-line-chart__container__content">
                                    <div class="dashboard-line-chart__container__content__value">
                                        <span class="customer_num" style="font-size: 28px;"></span>
                                    </div>
                                    <div class="el-tooltip dashboard-line-chart__footer dashboard-line-chart--increasing"
                                        style="position: relative;bottom: 43px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            style="color: rgb(82, 215, 151); width:24px;height:16px" fill="currentColor"
                                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                        </svg>
                                        100% Tăng
                                    </div>
                                </div>
                                <div class="dashboard-line-chart__container__chart">
                                    <div style="">
                                        <div id="chart_customer"
                                            class="apexcharts-canvas apexchartspajpqly1f apexcharts-theme-light">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard-line-chart" style="padding-bottom: 0;">
                            <div class="dashboard-line-chart__header">
                                <div style="font-size: 16px;">Doanh Thu</div>
                                <div class="dashboard-line-chart__header__right">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            <span class="revenue-time_text">
                                                Tuần hiện tại
                                            </span>
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_revenue-chart_time selected">
                                                <span>Tuần hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_revenue-chart_time">
                                                <span>Tuần trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_revenue-chart_time">
                                                <span>Tháng hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_revenue-chart_time">
                                                <span>Ba tháng trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option item_revenue-chart_time">
                                                <span>Sáu tháng trước</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="dashboard-line-chart__container">
                                <div class="dashboard-line-chart__container__content">
                                    <div class="dashboard-line-chart__container__content__value">
                                        <span class="sum_revenue" style="font-size: 28px;"></span>
                                    </div>
                                    <div style="position: relative;bottom: 43px;"
                                        class="el-tooltip dashboard-line-chart__footer dashboard-line-chart--increasing">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            style="color: rgb(82, 215, 151); width:24px;height:16px" fill="currentColor"
                                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                        </svg>
                                        100% Tăng
                                    </div>
                                </div>
                                <div class="dashboard-line-chart__container__chart">
                                    <div>
                                        <div id="chart_revenue"
                                            class="apexcharts-canvas apexchartspajpqly1f apexcharts-theme-light">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="dashboard-page__central-stats">
                        <div class="dashboard-appointments-stats dashboard-page__central-stats__appointments">
                            <div class="dashboard-appointments-stats__header">
                                <div class="dashboard-appointments-stats__header__content">
                                    <div class="dashboard-appointments-stats__header__content__appointments">
                                        <div class="dashboard-appointments-stats__header__content__title">
                                            Lịch hẹn thành công
                                        </div>
                                        <div class="dashboard-appointments-stats__header__content__stats">
                                            <div class="dashboard-appointments-stats__header__content__value">
                                                <span class="booking_success"></span>
                                            </div>
                                            <div
                                                class="el-tooltip dashboard-appointments-stats__header__content__percentage dashboard-appointments-stats__header__content__percentage--increasing">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                    style="color: rgb(82, 215, 151); width:24px;height:16px"
                                                    fill="currentColor" class="bi bi-arrow-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                </svg>
                                                100% Tăng
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dashboard-appointments-stats__header__content__title">
                                            Lịch hẹn đang đợi xử lý
                                        </div>
                                        <div class="dashboard-appointments-stats__header__content__stats">
                                            <div class="dashboard-appointments-stats__header__content__value">
                                                <span class="booking_pendding"></span>
                                            </div>
                                            <div
                                                class="el-tooltip dashboard-appointments-stats__header__content__percentage dashboard-appointments-stats__header__content__percentage--increasing">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                    style="color: rgb(82, 215, 151); width:24px;height:16px"
                                                    fill="currentColor" class="bi bi-arrow-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                </svg>
                                                100% Tăng
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboard-appointments-stats__header__dropdown">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            5/2022
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>5/2022</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="dashboard-appointments-stats__content">
                                <div style="min-height: 250px;">
                                    <div id="chart_book"></div>
                                </div>
                            </div>

                            <div class="dashboard-appointments-stats__footer">
                                <div class="dashboard-appointments-stats__footer__element">
                                    <div style="min-height: 60.7px;">
                                        <div id="chart_bar"></div>
                                    </div>
                                </div>
                                <div
                                    class="dashboard-appointments-stats__footer__element dashboard-appointments-stats__footer__element--new-customer">
                                    <div class="dashboard-appointments-stats__footer__element__title">Khách hàng mới
                                    </div>
                                    <div class="dashboard-appointments-stats__footer__element__value">
                                        44
                                        <span
                                            class="dashboard-appointments-stats__footer__element__value__blue">66.7%</span>
                                    </div>
                                </div>

                                <div class="dashboard-appointments-stats__footer__element">
                                    <div class="dashboard-appointments-stats__footer__element__title">Khách hàng cũ
                                    </div>
                                    <div class="dashboard-appointments-stats__footer__element__value">
                                        13
                                        <span
                                            class="dashboard-appointments-stats__footer__element__value__green">34.3%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard-appointments-table-stats dashboard-page__central-stats__table">
                            <div class="dashboard-appointments-table-stats__header">
                                <div class="dashboard-appointments-table-stats__header__title">Lịch sử đặt lịch</div>
                            </div>
                            <div class="dashboard-appointments-table-stats__table custom-scrollbar">
                                <div>
                                    <div class="adm-appointments-last-booked">
                                        <div class="adm-appointments-last-booked__row loaded">
                                            <div class="el-row is-align-middle el-row--flex"
                                                style="margin-left: -8px; margin-right: -8px;">
                                                <div class="adm-appointments-last-booked__time el-col el-col-5">
                                                    <div class="el-row is-align-middle el-row--flex">
                                                        <span>May 23, 2022 10:00 am</span>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-7"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <div class="el-row is-align-middle el-row--flex">
                                                        <span>Cắt gội massage</span>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-5"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <p class="flex-center">
                                                        <span class="overflow-ellipsis semi-bold">Văn Tình</span>
                                                    </p>
                                                </div>
                                                <div class="el-col el-col-7"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <p class="flex-center">
                                                        <span class="overflow-ellipsis semi-bold">Đã thanh toán</span>
                                                    </p>
                                                </div>
                                                <div class="el-col el-col-2"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <div class="el-row el-row--flex">
                                                        <div class="el-tooltip">
                                                            <div
                                                                class="el-row is-justify-center is-align-middle el-row--flex">
                                                                <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                                    class="adm-avatar size-32 mt-0 ml-0">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="adm-pagination" style="padding: 16px 24px;">
                                    <div class="adm-pagination__page el-pagination">
                                        <slot>
                                            Trang 1 trên 2
                                        </slot>
                                    </div>
                                    <div class="el-pagination">
                                        <button class="btn-prev">
                                            <i class="fa-solid fa-angle-left el-icon"></i>
                                        </button>
                                        <ul class="el-pager">
                                            <li class="number active">
                                                1
                                            </li>
                                            <li class="number">
                                                2
                                            </li>
                                        </ul>
                                        <button class="btn-next">
                                            <i class="fa-solid fa-angle-right el-icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="dashboard-performance-stats dashboard-page__central-stats__performance">
                            <div class="dashboard-performance-stats__header">
                                <div>Thành Tích</div>
                                <div class="dashboard-performance-stats__header__right">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            Tuần hiện tại
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tháng hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Ba tháng trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Sáu tháng trước</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="dashboard-performance-stats__menu">
                                    <div class="adm-menu adm-menu--horizontal">
                                        <ul class="el-menu--horizontal el-menu">
                                            <li
                                                class="el-menu-item adm-menu-item dashboard-performance-stats__menu__item is-active">
                                                Nhân Viên
                                            </li>
                                            <li class="el-menu-item adm-menu-item dashboard-performance-stats__menu__item"
                                                style="border-bottom-color: transparent;">
                                                Dịch Vụ
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="dashboard-employee-performance-card dashboard-performance-stats__card">
                                        <div class="dashboard-employee-performance-card__header">
                                            <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                class="adm-avatar size-32 mr-3 ml-0">
                                            </div>
                                            Thắng Võ
                                        </div>
                                        <div class="dashboard-employee-performance-card__content">
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Cuộc Hẹn
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    3
                                                </div>
                                            </div>
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Doanh Thu
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    400.000đ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__chart">
                                            <div style="width:11.26%"></div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__occupancy-percentage">
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__title">
                                                Tỉ lệ số lịch hẹn</div>
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__value">
                                                11.26%</div>
                                        </div>
                                    </div>
                                    <div class="dashboard-employee-performance-card dashboard-performance-stats__card">
                                        <div class="dashboard-employee-performance-card__header">
                                            <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                class="adm-avatar size-32 mr-3 ml-0">
                                            </div>
                                            Thắng Võ
                                        </div>
                                        <div class="dashboard-employee-performance-card__content">
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Cuộc Hẹn
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    3
                                                </div>
                                            </div>
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Doanh Thu
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    400.000đ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__chart">
                                            <div style="width:11.26%"></div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__occupancy-percentage">
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__title">
                                                Tỉ lệ số lịch hẹn</div>
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__value">
                                                11.26%</div>
                                        </div>
                                    </div>
                                    <div class="dashboard-employee-performance-card dashboard-performance-stats__card">
                                        <div class="dashboard-employee-performance-card__header">
                                            <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                class="adm-avatar size-32 mr-3 ml-0">
                                            </div>
                                            Văn Tình
                                        </div>
                                        <div class="dashboard-employee-performance-card__content">
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Cuộc Hẹn
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    3
                                                </div>
                                            </div>
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Doanh Thu
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    4.500.000đ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__chart">
                                            <div style="width:80.74%"></div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__occupancy-percentage">
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__title">
                                                Tỉ lệ số lịch hẹn</div>
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__value">
                                                80.74%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>



</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script src="../script/staff/main.js">
</script>