<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/service-dashboard.css">
    <link rel="stylesheet" href="../css/employee.css">
    {{!--
    <link rel="stylesheet" href="../css/booking.css"> --}}
    {{!--
    <link rel="stylesheet" href="../css/customer.css"> --}}
    <link rel="stylesheet" href="../css/mainstaff.css">
    <link rel="stylesheet" href="../font/css/all.min.css">
    <link rel="stylesheet" href="../css/dashboard-main.css">

</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            <a href="dashboard-manager?idStore={{idstore}}">
                <svg id="home" viewBox="0 0 512 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    class="active">
                    <path
                        d="M197.3 170.7h-160A37.4 37.4 0 010 133.3v-96A37.4 37.4 0 0137.3 0h160a37.4 37.4 0 0137.4 37.3v96a37.4 37.4 0 01-37.4 37.4zM37.3 32c-3 0-5.3 2.4-5.3 5.3v96c0 3 2.4 5.4 5.3 5.4h160c3 0 5.4-2.4 5.4-5.4v-96c0-3-2.4-5.3-5.4-5.3zm0 0M197.3 512h-160A37.4 37.4 0 010 474.7v-224a37.4 37.4 0 0137.3-37.4h160a37.4 37.4 0 0137.4 37.4v224a37.4 37.4 0 01-37.4 37.3zm-160-266.7c-3 0-5.3 2.4-5.3 5.4v224c0 3 2.4 5.3 5.3 5.3h160c3 0 5.4-2.4 5.4-5.3v-224c0-3-2.4-5.4-5.4-5.4zm0 0M474.7 512h-160a37.4 37.4 0 01-37.4-37.3v-96a37.4 37.4 0 0137.4-37.4h160a37.4 37.4 0 0137.3 37.4v96a37.4 37.4 0 01-37.3 37.3zm-160-138.7c-3 0-5.4 2.4-5.4 5.4v96c0 3 2.4 5.3 5.4 5.3h160c3 0 5.3-2.4 5.3-5.3v-96c0-3-2.4-5.4-5.3-5.4zm0 0M474.7 298.7h-160a37.4 37.4 0 01-37.4-37.4v-224A37.4 37.4 0 01314.7 0h160A37.4 37.4 0 01512 37.3v224a37.4 37.4 0 01-37.3 37.4zM314.7 32c-3 0-5.4 2.4-5.4 5.3v224c0 3 2.4 5.4 5.4 5.4h160c3 0 5.3-2.4 5.3-5.4v-224c0-3-2.4-5.3-5.3-5.3zm0 0" />
                </svg>
            </a>
            <a href="service?idStore={{idstore}}">
                <svg id=" service" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5" />
                </svg>
            </a>
            <a href="employee?idStore={{idstore}}">
                <svg viewBox="0 1 511 512" fill="currentColor">
                    <path
                        d="M498.7 222.7L289.8 13.8a46.8 46.8 0 00-66.7 0L14.4 222.6l-.2.2A47.2 47.2 0 0047 303h8.3v153.7a55.2 55.2 0 0055.2 55.2h81.7a15 15 0 0015-15V376.5a25.2 25.2 0 0125.2-25.2h48.2a25.2 25.2 0 0125.1 25.2V497a15 15 0 0015 15h81.8a55.2 55.2 0 0055.1-55.2V303.1h7.7a47.2 47.2 0 0033.4-80.4zm-21.2 45.4a17 17 0 01-12.2 5h-22.7a15 15 0 00-15 15v168.7a25.2 25.2 0 01-25.1 25.2h-66.8V376.5a55.2 55.2 0 00-55.1-55.2h-48.2a55.2 55.2 0 00-55.2 55.2V482h-66.7a25.2 25.2 0 01-25.2-25.2V288.1a15 15 0 00-15-15h-23A17.2 17.2 0 0135.5 244L244.4 35a17 17 0 0124.2 0l208.8 208.8v.1a17.2 17.2 0 010 24.2zm0 0" />
                </svg>
            </a>
            <a href="booking?idStore={{idstore}}">
                <svg viewBox="0 0 512 512" fill="currentColor">
                    <path
                        d="M467 76H45a45 45 0 00-45 45v270a45 45 0 0045 45h422a45 45 0 0045-45V121a45 45 0 00-45-45zm-6.3 30L287.8 278a44.7 44.7 0 01-63.6 0L51.3 106h409.4zM30 384.9V127l129.6 129L30 384.9zM51.3 406L181 277.2l22 22c14.2 14.1 33 22 53.1 22 20 0 38.9-7.9 53-22l22-22L460.8 406H51.3zM482 384.9L352.4 256 482 127V385z" />
                </svg>
            </a>
            <a href="customer?idStore={{idstore}}">
                <svg viewBox="0 0 512 512" fill="currentColor">
                    <path
                        d="M272 512h-32c-26 0-47.2-21.1-47.2-47.1V454c-11-3.5-21.8-8-32.1-13.3l-7.7 7.7a47.1 47.1 0 01-66.7 0l-22.7-22.7a47.1 47.1 0 010-66.7l7.7-7.7c-5.3-10.3-9.8-21-13.3-32.1H47.1c-26 0-47.1-21.1-47.1-47.1v-32.2c0-26 21.1-47.1 47.1-47.1H58c3.5-11 8-21.8 13.3-32.1l-7.7-7.7a47.1 47.1 0 010-66.7l22.7-22.7a47.1 47.1 0 0166.7 0l7.7 7.7c10.3-5.3 21-9.8 32.1-13.3V47.1c0-26 21.1-47.1 47.1-47.1h32.2c26 0 47.1 21.1 47.1 47.1V58c11 3.5 21.8 8 32.1 13.3l7.7-7.7a47.1 47.1 0 0166.7 0l22.7 22.7a47.1 47.1 0 010 66.7l-7.7 7.7c5.3 10.3 9.8 21 13.3 32.1h10.9c26 0 47.1 21.1 47.1 47.1v32.2c0 26-21.1 47.1-47.1 47.1H454c-3.5 11-8 21.8-13.3 32.1l7.7 7.7a47.1 47.1 0 010 66.7l-22.7 22.7a47.1 47.1 0 01-66.7 0l-7.7-7.7c-10.3 5.3-21 9.8-32.1 13.3v10.9c0 26-21.1 47.1-47.1 47.1zM165.8 409.2a176.8 176.8 0 0045.8 19 15 15 0 0111.3 14.5V465c0 9.4 7.7 17.1 17.1 17.1h32.2c9.4 0 17.1-7.7 17.1-17.1v-22.2a15 15 0 0111.3-14.5c16-4.2 31.5-10.6 45.8-19a15 15 0 0118.2 2.3l15.7 15.7a17.1 17.1 0 0024.2 0l22.8-22.8a17.1 17.1 0 000-24.2l-15.7-15.7a15 15 0 01-2.3-18.2 176.8 176.8 0 0019-45.8 15 15 0 0114.5-11.3H465c9.4 0 17.1-7.7 17.1-17.1v-32.2c0-9.4-7.7-17.1-17.1-17.1h-22.2a15 15 0 01-14.5-11.2c-4.2-16.1-10.6-31.6-19-45.9a15 15 0 012.3-18.2l15.7-15.7a17.1 17.1 0 000-24.2l-22.8-22.8a17.1 17.1 0 00-24.2 0l-15.7 15.7a15 15 0 01-18.2 2.3 176.8 176.8 0 00-45.8-19 15 15 0 01-11.3-14.5V47c0-9.4-7.7-17.1-17.1-17.1h-32.2c-9.4 0-17.1 7.7-17.1 17.1v22.2a15 15 0 01-11.3 14.5c-16 4.2-31.5 10.6-45.8 19a15 15 0 01-18.2-2.3l-15.7-15.7a17.1 17.1 0 00-24.2 0l-22.8 22.8a17.1 17.1 0 000 24.2l15.7 15.7a15 15 0 012.3 18.2 176.8 176.8 0 00-19 45.8 15 15 0 01-14.5 11.3H47c-9.4 0-17.1 7.7-17.1 17.1v32.2c0 9.4 7.7 17.1 17.1 17.1h22.2a15 15 0 0114.5 11.3c4.2 16 10.6 31.5 19 45.8a15 15 0 01-2.3 18.2l-15.7 15.7a17.1 17.1 0 000 24.2l22.8 22.8a17.1 17.1 0 0024.2 0l15.7-15.7a15 15 0 0118.2-2.3z" />
                    <path
                        d="M256 367.4c-61.4 0-111.4-50-111.4-111.4s50-111.4 111.4-111.4 111.4 50 111.4 111.4-50 111.4-111.4 111.4zm0-192.8a81.5 81.5 0 000 162.8 81.5 81.5 0 000-162.8z" />
                </svg>
            </a>
            <a href="">
                <svg viewBox="0 0 512 512" fill="currentColor">
                    <path
                        d="M255.2 468.6H63.8a21.3 21.3 0 01-21.3-21.2V64.6c0-11.7 9.6-21.2 21.3-21.2h191.4a21.2 21.2 0 100-42.5H63.8A63.9 63.9 0 000 64.6v382.8A63.9 63.9 0 0063.8 511H255a21.2 21.2 0 100-42.5z" />
                    <path
                        d="M505.7 240.9L376.4 113.3a21.3 21.3 0 10-29.9 30.3l92.4 91.1H191.4a21.2 21.2 0 100 42.6h247.5l-92.4 91.1a21.3 21.3 0 1029.9 30.3l129.3-127.6a21.3 21.3 0 000-30.2z" />
                </svg>
            </a>
        </div>
        <div class="main-container pt-2"
            style="display: block;background-color: #f4f6fa;min-height: 100vh;width: 100%;">
            <div class="main-header is-main-navigation-bar-expanded">
                <div class="main-header__account el-dropdown">
                    <div class="main-header__account__slot el-dropdown-selfdefine">
                        <div class="adm-avatar size-36 mr-0 ml-0"
                            style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);">
                        </div>
                        <div class="main-header__account__slot__name tablet-hidden">
                            Nguyễn Văn Tình
                        </div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            svg-inline="" role="presentation" focusable="false" tabindex="-1"
                            class="main-header__account__slot__arrow tablet-hidden">
                            <path
                                d="M12 15a.75.75 0 01-.48-.172l-4.5-3.75a.75.75 0 11.96-1.155l4.02 3.36 4.02-3.24a.75.75 0 011.058.112.75.75 0 01-.105 1.095l-4.5 3.623A.75.75 0 0112 15z"
                                fill="#005AEE" class="customize-fill"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="adm-dashboard__container__wrapper">
                <div class="dashboard-page">
                    <div class="dashboard-header-stats">
                        <div class="dashboard-line-chart" style="padding-bottom: 0;">
                            <div class="dashboard-line-chart__header">
                                <div style="font-size: 16px;">Khách Hàng Mới</div>
                                <div class="dashboard-line-chart__header__right">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            Tuần hiện tại
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tháng hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Ba tháng trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Sáu tháng trước</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="dashboard-line-chart__container">
                                <div class="dashboard-line-chart__container__content">
                                    <div class="dashboard-line-chart__container__content__value">
                                        <span style="font-size: 28px;">10</span>
                                    </div>
                                    <div class="el-tooltip dashboard-line-chart__footer dashboard-line-chart--increasing"
                                        style="position: relative;bottom: 43px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            style="color: rgb(82, 215, 151); width:24px;height:16px" fill="currentColor"
                                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                        </svg>
                                        100% Tăng
                                    </div>
                                </div>
                                <div class="dashboard-line-chart__container__chart">
                                    <div style="">
                                        <div id="chart_customer"
                                            class="apexcharts-canvas apexchartspajpqly1f apexcharts-theme-light">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard-line-chart" style="padding-bottom: 0;">
                            <div class="dashboard-line-chart__header">
                                <div style="font-size: 16px;">Doanh Thu</div>
                                <div class="dashboard-line-chart__header__right">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            Tuần hiện tại
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tháng hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Ba tháng trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Sáu tháng trước</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="dashboard-line-chart__container">
                                <div class="dashboard-line-chart__container__content">
                                    <div class="dashboard-line-chart__container__content__value">
                                        <span style="font-size: 28px;">23.000.000đ</span>
                                    </div>
                                    <div style="position: relative;bottom: 43px;"
                                        class="el-tooltip dashboard-line-chart__footer dashboard-line-chart--increasing">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            style="color: rgb(82, 215, 151); width:24px;height:16px" fill="currentColor"
                                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                        </svg>
                                        100% Tăng
                                    </div>
                                </div>
                                <div class="dashboard-line-chart__container__chart">
                                    <div>
                                        <div id="chart_revenue"
                                            class="apexcharts-canvas apexchartspajpqly1f apexcharts-theme-light">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="dashboard-page__central-stats">
                        <div class="dashboard-appointments-stats dashboard-page__central-stats__appointments">
                            <div class="dashboard-appointments-stats__header">
                                <div class="dashboard-appointments-stats__header__content">
                                    <div class="dashboard-appointments-stats__header__content__appointments">
                                        <div class="dashboard-appointments-stats__header__content__title">
                                            Lịch hẹn thành công
                                        </div>
                                        <div class="dashboard-appointments-stats__header__content__stats">
                                            <div class="dashboard-appointments-stats__header__content__value">
                                                8
                                            </div>
                                            <div
                                                class="el-tooltip dashboard-appointments-stats__header__content__percentage dashboard-appointments-stats__header__content__percentage--increasing">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                    style="color: rgb(82, 215, 151); width:24px;height:16px"
                                                    fill="currentColor" class="bi bi-arrow-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                </svg>
                                                100% Tăng
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dashboard-appointments-stats__header__content__title">
                                            Lịch hẹn đã hủy
                                        </div>
                                        <div class="dashboard-appointments-stats__header__content__stats">
                                            <div class="dashboard-appointments-stats__header__content__value">
                                                8
                                            </div>
                                            <div
                                                class="el-tooltip dashboard-appointments-stats__header__content__percentage dashboard-appointments-stats__header__content__percentage--increasing">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                    style="color: rgb(82, 215, 151); width:24px;height:16px"
                                                    fill="currentColor" class="bi bi-arrow-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                </svg>
                                                100% Tăng
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboard-appointments-stats__header__dropdown">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            5/2022
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>5/2022</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="dashboard-appointments-stats__content">
                                <div style="min-height: 250px;">
                                    <div id="chart_book"></div>
                                </div>
                            </div>

                            <div class="dashboard-appointments-stats__footer">
                                <div class="dashboard-appointments-stats__footer__element">
                                    <div style="min-height: 60.7px;">
                                        <div id="chart_bar"></div>
                                    </div>
                                </div>
                                <div
                                    class="dashboard-appointments-stats__footer__element dashboard-appointments-stats__footer__element--new-customer">
                                    <div class="dashboard-appointments-stats__footer__element__title">Khách hàng mới
                                    </div>
                                    <div class="dashboard-appointments-stats__footer__element__value">
                                        44
                                        <span
                                            class="dashboard-appointments-stats__footer__element__value__blue">66.7%</span>
                                    </div>
                                </div>

                                <div class="dashboard-appointments-stats__footer__element">
                                    <div class="dashboard-appointments-stats__footer__element__title">Khách hàng cũ
                                    </div>
                                    <div class="dashboard-appointments-stats__footer__element__value">
                                        13
                                        <span
                                            class="dashboard-appointments-stats__footer__element__value__green">34.3%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard-appointments-table-stats dashboard-page__central-stats__table">
                            <div class="dashboard-appointments-table-stats__header">
                                <div class="dashboard-appointments-table-stats__header__title">Lịch sử đặt lịch</div>
                            </div>
                            <div class="dashboard-appointments-table-stats__table custom-scrollbar">
                                <div>
                                    <div class="adm-appointments-last-booked">
                                        <div class="adm-appointments-last-booked__row loaded">
                                            <div class="el-row is-align-middle el-row--flex"
                                                style="margin-left: -8px; margin-right: -8px;">
                                                <div class="adm-appointments-last-booked__time el-col el-col-5">
                                                    <div class="el-row is-align-middle el-row--flex">
                                                        <span>May 23, 2022 10:00 am</span>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-7"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <div class="el-row is-align-middle el-row--flex">
                                                        <span>Cắt gội massage</span>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-5"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <p class="flex-center">
                                                        <span class="overflow-ellipsis semi-bold">Văn Tình</span>
                                                    </p>
                                                </div>
                                                <div class="el-col el-col-7"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <p class="flex-center">
                                                        <span class="overflow-ellipsis semi-bold">Đã thanh toán</span>
                                                    </p>
                                                </div>
                                                <div class="el-col el-col-2"
                                                    style="padding-left: 8px; padding-right: 8px;">
                                                    <div class="el-row el-row--flex">
                                                        <div class="el-tooltip">
                                                            <div
                                                                class="el-row is-justify-center is-align-middle el-row--flex">
                                                                <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                                    class="adm-avatar size-32 mt-0 ml-0">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="adm-pagination" style="padding: 16px 24px;">
                                    <div class="adm-pagination__page el-pagination">
                                        <slot>
                                            Trang 1 trên 2
                                        </slot>
                                    </div>
                                    <div class="el-pagination">
                                        <button class="btn-prev">
                                            <i class="fa-solid fa-angle-left el-icon"></i>
                                        </button>
                                        <ul class="el-pager">
                                            <li class="number active">
                                                1
                                            </li>
                                            <li class="number">
                                                2
                                            </li>
                                        </ul>
                                        <button class="btn-next">
                                            <i class="fa-solid fa-angle-right el-icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="dashboard-performance-stats dashboard-page__central-stats__performance">
                            <div class="dashboard-performance-stats__header">
                                <div>Thành Tích</div>
                                <div class="dashboard-performance-stats__header__right">
                                    <div class="el-dropdown">
                                        <button aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                            class="adm-button adm-button__borderless__dark adm-button__size__micro is-icon-end el-dropdown-selfdefine"
                                            id="dropdownMenuButton">
                                            Tuần hiện tại
                                            <i class="fa-solid fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu el-scrollbar__view el-select-dropdown__list"
                                            aria-labelledby="dropdownMenuButton">
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tuần trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Tháng hiện tại</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Ba tháng trước</span>
                                            </li>
                                            <li style="padding-left:20px ;"
                                                class="el-select-dropdown__item adm-select-option list-employee__dropdown">
                                                <span>Sáu tháng trước</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="dashboard-performance-stats__menu">
                                    <div class="adm-menu adm-menu--horizontal">
                                        <ul class="el-menu--horizontal el-menu">
                                            <li
                                                class="el-menu-item adm-menu-item dashboard-performance-stats__menu__item is-active">
                                                Nhân Viên
                                            </li>
                                            <li class="el-menu-item adm-menu-item dashboard-performance-stats__menu__item"
                                                style="border-bottom-color: transparent;">
                                                Dịch Vụ
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="dashboard-employee-performance-card dashboard-performance-stats__card">
                                        <div class="dashboard-employee-performance-card__header">
                                            <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                class="adm-avatar size-32 mr-3 ml-0">
                                            </div>
                                            Thắng Võ
                                        </div>
                                        <div class="dashboard-employee-performance-card__content">
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Cuộc Hẹn
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    3
                                                </div>
                                            </div>
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Doanh Thu
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    400.000đ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__chart">
                                            <div style="width:11.26%"></div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__occupancy-percentage">
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__title">
                                                Tỉ lệ số lịch hẹn</div>
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__value">
                                                11.26%</div>
                                        </div>
                                    </div>
                                    <div class="dashboard-employee-performance-card dashboard-performance-stats__card">
                                        <div class="dashboard-employee-performance-card__header">
                                            <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                class="adm-avatar size-32 mr-3 ml-0">
                                            </div>
                                            Thắng Võ
                                        </div>
                                        <div class="dashboard-employee-performance-card__content">
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Cuộc Hẹn
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    3
                                                </div>
                                            </div>
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Doanh Thu
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    400.000đ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__chart">
                                            <div style="width:11.26%"></div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__occupancy-percentage">
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__title">
                                                Tỉ lệ số lịch hẹn</div>
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__value">
                                                11.26%</div>
                                        </div>
                                    </div>
                                    <div class="dashboard-employee-performance-card dashboard-performance-stats__card">
                                        <div class="dashboard-employee-performance-card__header">
                                            <div style="background-image: url(https://babershop.admin.trafft.com/api/v1/public/media/3d9a8071-df4b-4b55-a05a-6f6a68371d21?size=avatar);color: rgb(19, 150, 110);"
                                                class="adm-avatar size-32 mr-3 ml-0">
                                            </div>
                                            Văn Tình
                                        </div>
                                        <div class="dashboard-employee-performance-card__content">
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Cuộc Hẹn
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    3
                                                </div>
                                            </div>
                                            <div class="dashboard-employee-performance-card__content__item">
                                                Doanh Thu
                                                <div class="dashboard-employee-performance-card__content__item__value">
                                                    4.500.000đ
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__chart">
                                            <div style="width:80.74%"></div>
                                        </div>
                                        <div class="dashboard-employee-performance-card__occupancy-percentage">
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__title">
                                                Tỉ lệ số lịch hẹn</div>
                                            <div
                                                class="dashboard-employee-performance-card__occupancy-percentage__value">
                                                80.74%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>



</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="../script/staff/main.js">
</script>